<div>
	<h1><%=title%></h1>
</div>
<div><%- messages() %></div>

<% if (errors) { %>
	<ul class="notice">
		<% errors.array().forEach(error=> { %>
			<li>
				<%= error.msg %>
			</li>
			<% }) %>
		</ul>
	<% } %>


<form class="login-page login-form" action="/account/login" method="post" id="loginForm">
	<fieldset class="group">
		<legend>Account Login</legend>
		<div>
			<label for="emailAddress">Email</label>
			<input type="email" id="emailAddress" name="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>">
		</div>
		<div>
			<label for="login_password">Password</label>
			<input type="password" id="login_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"> <span>"Password must be at least 12 characters long and contain at least one digit, one lowercase letter, one uppercase letter. No spaces allowed."</span>
		</div>
		<button type="submit" value="login" class="main-button">Login</button>
	</fieldset>
<p class="signup-link">Don't have an account? <a href="/account/register">Register</a></p>
</form>