<h1>Welcome to CSE Motors</h1>
<div class="top-content">
	<div class="float">
	<h2>DMC Delorean</h2>
	<p>3 cup holders</p>
	<p>Superman doors</p>
	<p>Fuzzy dice</p>
	<button>Own Today</button>
</div>
</div>

<div class="bottom-row">
	<div class="bottom-content-container">
		<h3 class="bottom-content-header">Delorean Upgrades</h3>
		<div class="left-content">
			<div class="bl-item">
				<div class="background">
					<img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
				</div>
				<a href="#">Flux Capacitor</a>
			</div>
			<div class="bl-item">
				<div class="background">
					<img src="images/upgrades/flame.jpg" alt="Flame Decals">
				</div>
				<a href="#">Flame Decals</a>
			</div>
			<div class="bl-item">
				<div class="background">
					<img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
				</div>
				<a href="#">Bumper Stickers</a>
			</div>
			<div class="bl-item">
				<div class="background">
					<img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
				</div>
				<a href="#">Hub Caps</a>
			</div>
		</div>
	</div>
	<div class="bottom-content-container">
		<h3 class="bottom-content-header">DMC Delorean Reviews</h3>
		<div class="right-content">
			<ul>
				<li>"So fast its almost like traveling in time." (4/5)</li>
				<li>"Coolest ride on the road." (4/5)</li>
				<li>"I'm feeling Marty McFly!" (5/5)</li>
				<li>"The most futuristic ride of our day." (4.5/5)</li>
				<li>"80's livin and I love it!" (5/5)</li>
			</ul>
		</div>
	</div>
</div>

<!-- <div class="bottom-row">
	<h3 class="bottom-content">Delorean Upgrades</h3>
	<div class="left-content">
		<div class="bl-item">
			<div class="background">
			<img src="images/upgrades/flux-cap.png" alt="Delorean Upgrades">
			</div>
			<a href="#">Flux Capacitor</a>
		</div>
		<div class="bl-item">
			<div class="background">
				<img src="images/upgrades/flame.jpg" alt="Delorean Upgrades">
			</div>
			<a href="#">Flame Decals</a>
		</div>
		<div class="bl-item">
			<div class="background">
				<img src="images/upgrades/bumper_sticker.jpg" alt="Delorean Upgrades">
			</div>
			<a href="#">Bumper Stickers</a>
		</div>
		<div class="bl-item">
			<div class="background">
				<img src="images/upgrades/hub-cap.jpg" alt="Delorean Upgrades">
			</div>
			<a href="#">Hub Caps</a>
		</div>
	</div>
	<h3 class="bottom-content">DMC Delorean Reviews</h3>
	<div class="right-content">
		<ul>
			<li>"So fast its almost like traveling in time." (4/5)</li>
			<li>"Coolest ride on the road." (4/5)</li>
			<li>"I'm feeling Marty McFly!" (5/5)</li>
			<li>"The most futuristic ride of our day." (4.5/5)</li>
			<li>"80's livin and I love it!" (5/5)</li>
		</ul>
	</div>
</div>	
</div> -->