@media only screen and (min-width: 800px) {
  body {
    background-image: url('../images/site/checkerboard.jpg');
    background-size: 100% auto;
    background-repeat: repeat;
  }

	.navigation ul {
		display: flex;
		justify-content: space-around;
	}


  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .top-content img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  .bottom-row {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
  }

  .bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bottom-content-container {
    width: 90%;
  }

  .bl-item:nth-child(even) {
    margin-right: 35px;
  }

  .float {
    position: absolute;
    top: 11%;
    left: 18%;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--primary-color);
  }

  .float h2,
  .float h3 {
    margin: 0;
    padding: 0;
  }

  .float h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .float h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .float button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    height: 2.5rem;
    width: 11rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
      -2px -2px 5px rgba(255, 255, 255, 0.2);
  }
}
